<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | url }}">
    <style type="text/css">
      body {
        font-size: 1.2rem;
        font-family: "Sorts Mill Goudy", serif;
      }
      .blogpost h2,
      .blogpost h3 {
        margin-top: 50px;
      }
      .anton-regular, h2 {
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      .sorts-mill-goudy-regular {
        font-family: "Sorts Mill Goudy", serif;
        font-weight: 400;
        font-style: normal;
      }

      .sorts-mill-goudy-regular-italic {
        font-family: "Sorts Mill Goudy", serif;
        font-weight: 400;
        font-style: italic;
      }
      .heading {
        font-size: 48px;
      }
      .citation {
        color: #888888ff;
        font-size: 18px;
        border-left: 7px solid #f505f1ff;
        padding-left: 15px;
      }
      .tagline {
        border-top: 1px solid #393939ff;
        border-bottom: 1px solid #393939ff;
        /* color: #f505f1ff; */
        font-size: 24px;
        padding: 20px 0;
      }
      a, a:link {
        color: #f505f1ff;
      }
      a:hover,
      a:active {
        text-decoration: none;
      }
      .thing {
        border-bottom: 1px solid #393939ff;
      }
      nav {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #000;
      }
      nav ul {
        list-style: none;
        margin: 0;
        padding: 15px 0;
        display: flex;
        gap: 1rem;
      }
      nav li a {
        text-decoration: none;
        font-weight: 500;
      }
      nav li a:hover {
        text-decoration: underline;
      }
      figure {
        border-left: 3px solid #f505f1ff;
        padding: 20px 40px 10px 50px;
        margin: 40px 0;
      }
      blockquote {
        font-size: 30px;
        font-weight: 700;
      }
      blockquote p {
        line-height: 30px;
      }
      .style1{
        position: relative;
      }
      .style1:before {
        content: "“";
        font-family: serif;
        font-size: 4.5rem;
        left: 10px;
        position: absolute;
        top: -20px;
      }
      @media (min-width: 768px) {
        .container {
          max-width: 720px;
        }
      }
    </style>
  </head>
  <body class="text-white" style="background-color: #000;">
    <nav class="thing">
      <div class="container">
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
    </nav>
    <main class="container px-4">

      <div class="mt-5">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
      </div>

      <h2 class="sorts-mill-goudy-regular-italic mt-5 tagline">I make things for the internet, displayed on little squares of glass everyone carries in their pockets.</h2>

    </main>
    <footer class="container px-4" style="margin-top: 60px;">
      <p class="sorts-mill-goudy-regular-italic">© 2025. Made with <a href="https://www.11ty.dev/">eleventy</a> and love.</p>
    </footer>
  </body>
</html>
