{% extends "base.njk" %}

{% block content %}
  <div style="margin: 100px 0 75px;">
    <span class="sorts-mill-goudy-regular-italic" style="font-size: 18px;">Published: {{ date }}</span>
    <h1 class="anton-regular heading">{{ title }}</h1>
  </div>

  <p>{{ content | safe }}</p>

  <a href="/blog">&larr; Return to All Blog Posts</a>

{% endblock %}