{% extends "base.njk" %}

{% block content %}
<section class="blogpost">
  <div style="margin: 100px 0 75px;">
    <span class="sorts-mill-goudy-regular-italic" style="font-size: 18px;">{{ date | postDate }}</span>
    <h1 class="anton-regular heading">{{ title }}</h1>
  </div>

  <p>{{ content | safe }}</p>

  <a href="/blog" style="margin-top: 50px;" class="btn btn-outline-light">&larr; Return to All Blog Posts</a>
</section>
{% endblock %}