<ul class="list-unstyled mt-4 bloglist">
  {% for post in collections.postsNewestFirst %}
    <li class="mb-4 pb-4">
      <a href="{{ post.url }}" class="text-decoration-none text-reset">
        <article class="d-flex gap-3 position-relative">
          <div>
            <small class="d-block">
              {{ post.data.date | postDate }}
            </small>
            <h3 class="anton-regular">{{ post.data.title }}</h3>
          </div>
        </article>
      </a>
    </li>
  {% endfor %}
</ul>