<figure class="style1">
  <blockquote class="sorts-mill-goudy-regular-italic">
    <p>{{ quote }}</p>
  </blockquote>
  <figcaption>— <cite class="anton-regular">{{ cite }}</cite></figcaption>
</figure>